# File: parts/phpfpm.j2
    # PHP access using unix socket
    location ~ "^(.+\.php)($|/)" {
{% if item.0.php.enabled is defined and item.0.php.enabled  %}
        fastcgi_split_path_info ^(.+\.php)(.*)$;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param SCRIPT_NAME $fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_param SERVER_NAME $host;
        fastcgi_split_path_info       ^(.+\.php)(.*)$;
        include        fastcgi_params;
        fastcgi_pass   unix:/var/run/{{ item.0.name }}-php-fpm.sock;
{% else %}
        return 404;
{% endif %}
    }

{# add athis j2 comment to persist the empty line#}