# File: parts/port_listen80.j2
    listen {% if item.1.port is defined and item.1.port != ""  %}{{ item.1.port }}{% else %}80{% endif %}{% if item.1.default_server is defined and item.1.default_server %} default_server{% endif %};
    listen [::]:{% if item.1.port is defined and item.1.port != ""  %}{{ item.1.port }}{% else %}80{% endif %}{% if item.1.default_server is defined and item.1.default_server %} default_server{% endif %};
{% if item.1.ssl.type is defined %}
{%      if item.1.ssl.type == "optional" or  item.1.ssl.type == "force"  %}
    # this is for letsencrypt
    location ^~ /.well-known/acme-challenge/ {
{%          if item.1.authentication is defined and item.1.authentication == "htpasswd_file"  %}
                    auth_basic off; # disable authentication for acme requests
{%          endif %}
            root "{{ webservices_root }}/{{ item.0.name }}/home_dir/letsencrypt_public";
            try_files $uri $uri/ =404;
    }
{%      endif %}
{%  endif %}

{%      if item.1.ssl.type == "force" %}
    # Redirect to https if value of ssl.type is: Force
    return  {{ item.1.ssl.redirect_type }} https://$host{% if item.1.port_ssl is defined and item.1.port_ssl != 443  %}:{{ item.1.port_ssl }}{% endif %}$request_uri;
{%      endif %}

{# add athis j2 comment to persist the empty line#}