[Unit]
Description=Fe26 storage service
After=syslog.target
After=network-online.target
Wants=network-online.target

[Service]
User={{ fe26_user }}
ExecStart={{ fe26_dir }}/binaries/fe26-latest
Restart=on-failure
WorkingDirectory={{ fe26_data_dir }}
Environment="FE26_LOGLEVEL={{ minio_access_key }}"
Environment="FE26_IP={{ fe26_bind_ip }}"
Environment="FE26_PORT={{ fe26_port }}"
Environment="FE26_ROOT={{ fe26_data_dir }}"


[Install]
WantedBy=multi-user.target





