# {{ ansible_managed }}
deb http://ftp.{{  basic_host_sources_distro_country }}.debian.org/debian/ stretch main
# deb-src http://ftp.{{  basic_host_sources_distro_country }}.debian.org/debian/ stretch main

# Security
deb http://security.debian.org/debian-security stretch/updates main
# deb-src http://security.debian.org/debian-security stretch/updates main

# Backports
# deb http://ftp.debian.org/debian/ stretch-backports main
