##
## Mailbox definitions
##

# NOTE: Assumes "namespace inbox" has been defined in 10-mail.conf.j2.
namespace inbox {

  #mailbox name {
    # auto=create will automatically create this mailbox.
    # auto=subscribe will both create and subscribe to the mailbox.
    #auto = no

    # Space separated list of IMAP SPECIAL-USE attributes as specified by
    # RFC 6154: \All Mails \Archive \Drafts \Flagged \Junk \Sent \Trash
    #special_use =
  #}




  # For \Sent mailboxes there are two widely used names. We'll mark both of
  # them as \Sent. User typically deletes one of them if duplicates are created.
  mailbox Sent {
      auto = subscribe
      special_use = \Sent
  }
  mailbox "Sent Messages" {
      auto = no
      special_use = \Sent
  }
  mailbox "Sent Items" {
      auto = no
      special_use = \Sent
  }


  #### DRAFTS
  mailbox Drafts {
      auto = subscribe
      special_use = \Drafts
  }

  ## Templates
  mailbox Templates {
        auto = subscribe
  }

  #Trash
  mailbox Trash {
      auto = subscribe
      special_use = \Trash
  }

  mailbox "Deleted Messages" {
      auto = no
      special_use = \Trash
  }


  # Junk
  mailbox Spam {
      auto = subscribe
      special_use = \Junk
      autoexpunge = 60d
  }
  mailbox Junk {
      auto = no
      special_use = \Junk
      autoexpunge = 60d
  }
  mailbox "Junk E-mail" {
      auto = no
      special_use = \Junk
      autoexpunge = {{ dovecot_mailbox_spam_autoexpunge }}
  }


  # Archive
  mailbox Archivados {
      auto = subscribe
      special_use = \Archive
  }

  mailbox Archive {
      special_use = \Archive
  }
  mailbox Archives {
      auto = no
      special_use = \Archive
  }

{% for i in dovecot_mailbox_autoexpunge %}
  mailbox {{ i.name }} {
      auto = subscribe
      autoexpunge = {{ i.days }}d
  }
{% endfor %}


}
